# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [1]:
my_dict = {}
my_dict["R"] = ""
my_dict["Python"] = ""
my_dict["SQL"] = ""

In [2]:
ordered_list = list(my_dict.keys())

In [3]:
print(ordered_list)

['R', 'Python', 'SQL']

Some of the commonly used libraries used by Data Scientists include:

In [4]:
my_dict2 = {}
my_dict2["dplyr"] = ""
my_dict2["pandas"] = ""
my_dict2["scikit-learn"] = ""

In [5]:
ordered_list2 = list(my_dict2.keys())

In [10]:
print(ordered_list2)

['dplyr', 'pandas', 'scikit-learn']

In [7]:
from pytablewriter import MarkdownTableWriter

writer = MarkdownTableWriter(
    table_name="example_table",
    headers=["Data Science Tools"],
    value_matrix=[
        ["R Studio"],
        ["Jupyter Notebooks"],
        ["Jupyter Lab"],
    ],
)
writer.write_table()

# example_table
|Data Science Tools|
|------------------|
|R Studio          |
|Jupyter Notebooks |
|Jupyter Lab       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
print(3+4)
print(6-7)
8/3

7
-1

2.6666666666666665

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
hours = 2
minutes = hours * 60
print(minutes)

120

**Objectives**

* Practice using markdown
* Combine comments with mathematical expressions
* Create a table

## Author 

S M